# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.filters
*.user
*.log
lab2/crypt/ReadMe.txt
lab2/fill/ReadMe.txt
lab2/findtext/ReadMe.txt
*.sdf
*.suo
lab2/multmatrix/ReadMe.txt
lab2/rle/ReadMe.txt
lab2/Solve/ReadMe.txt
*.obj
*.pch
*.tlog
*.ilk
*.ipch
*.idb
*.pdb
*.exe
lab2/TESTS/crypt/crypt.exe.crypted
lab2/TESTS/crypt/crypt.exe.decrypted
*.opensdf
lab3/task1_var8/task1_var8/ReadMe.txt
lab3/task1_var8/TestOfTask1Var8/ReadMe.txt
lab3/task2_var1/task2_var1/ReadMe.txt
lab3/task2_var1/TestOfTask2Var1/ReadMe.txt
lab2/TESTS/rle/rle.exe.compressed
lab2/TESTS/rle/rle.exe.decompressed
lab3/task3/task3/ReadMe.txt
lab3/task3/TestsOfTask3/ReadMe.txt
lab3/task4_var2/task4_var2/ReadMe.txt
lab3/task4_var2/TestsOfTask4Var2/ReadMe.txt
lab3/task5_var2/task5_var2/ReadMe.txt
*.blb
lab3/task5_var2/TestOfTask5Var2/ReadMe.txt
lab3/task6/task6/ReadMe.txt
lab3/task6/task6/dictionary.txt
lab3/task6/task6/dictionary.txt
lab3/task6/TestOfTask6/ReadMe.txt
lab3/task6/TestOfTask6/楤瑣潩慮祲琮瑸
lab3/task6/task6/dictionary.txt
lab3/task7_var2/task7_var2/ReadMe.txt
